.venv/
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store

models/*.pt
models/.cache/

# Data folders (ignore heavy images, keep .gitkeep and processed features)
data/raw/*
!data/raw/.gitkeep
data/anhdung/
data/anhloi/

